<dl>
  <% if @status.next %>
    <dt><%=@status.next %></dt>
    <dd>Next Ghost At</dd>
  <% end %>

  <% if @status.previous %>
    <dt><%= @status.previous %></dt>
    <dd>Previous Ghost At</dd>
  <% end %>
</dl>

<table class='table'>
  <tr><th>Time</th><th>Speaker</th><th>Volume</th><th>Track</th><th>Duration</th></tr>
  <% @logs.each do |log| %>
    <tr>
      <td><%=log.created_at %></td>
      <td><%=log.speaker_name %></td>
      <td><%=log.volume %> (<%=log.original_volume%>)</td>
      <td><%=log.audio_uri %></td>
      <td><%=log.duration %></td>
    </tr>
  <% end %>
</table>
